<h3>Welcome to E-Learn</h3>
	<p>E-Learn is a simple and free online learning platform.Instructors can create courses and 
		students can register for courses which include assignments,quizes and support forums.
	</p>
	<a class="button" href="/users/register">Sign Up Free</a>
	<p>You need to signup to register for free classes</p>
	